*{
    box-sizing: border-box;
}
.card{
    background-color: white;
    float: left;
    border-radius: 10px;
    box-shadow: 0px 3px 15px 2px rgba(0,0,0,0.5);
    padding: 10px;
    margin: 25px;
    height: 100%;
    width: 21.5%;
    border: 0.7px solid gray;
}
.container{
    height: 100%;
    width: 100%;
    justify-content: center;
}
img{
    justify-content: center;
    width: 100%;
    height: 220px;
    border-radius: 10px;
    box-shadow: 0px 3px 7px 2px rgba(0,0,0,0.5);
    padding: 0;
    margin: 0;
    border: 0.7px solid gray;
}
h2{
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: 1.8rem;
}
.clearfix{
    display: inline-block;
    clear: both;
    content: "";
}
body{
    background-color: #F1F1F1;
}
a{
    text-decoration: none;
}
.button{
    color: white;
    background-color: orange;
    border: none;
    font-size: 30px;
    width: 100%;
    border-radius: 10px;

}
.button:hover{
    background-color: blue;
}
