@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

h1 {
    display: flex;
    flex: auto;
    justify-content: center;
    color: white;
}

h1 span {
    font-weight: bold;
    text-shadow: 0px 0px 10px white;
    padding-right: 10px;
    padding-left: 10px;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.todo-input {
    outline: none;
}

.todo-button {
    border: none;
    outline: none;
    padding: 8px;
    background: none;
}

.todo-button:hover {
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    list-style: none;
    min-width: 25%;
}

.todo {
    background: white;
    margin: 8px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-item {
    margin: 0 8px;
    flex: 1;
}

.check-btn {
    border: none;
    color: white;
    background-color: #45ff39;
    padding: 16px;
    font-size: medium;
    outline: none;

}

.delete-btn {
    border: none;
    color: white;
    background-color: crimson;
    font-size: medium;
    padding: 16px;
    outline: none;
}

.fa-check, .fa-trash {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: .5;
}
