* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

.main h1 {
    font-size: 35px;
    text-align: center;
    color: black;
}

footer {
    background-color: rgba(0, 0, 0, 0.801);
    width: 100%;
}

.sec-1 {
    display: flex;
    justify-content: space-around;
    padding: 50px 10px;
    margin: 10px;
    color: gray;
    line-height: 22px;

}

.about {
    width: 40%;
    text-align: justify;
}

.sec-1 h2 {
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    margin: 5px 0;
}

.sec-1 ul {
    list-style: none;
    text-align: justify;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    color: coral;
}

span {
    color: gray;

}

i {
    color: white;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sec-2 {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 10px;
    align-items: center;

}

.sec-2 a {
    display: inline-block;
    color: white;
    background-color: red;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 10px;
    text-align: center;
}

.sec-2 a:hover {
    background-color: yellow;


}

.sec-3 ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 20px;
}

.sec-3 ul li {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 14px;
    background-color: rgb(95 192 96 / 80%);
    border-radius: 50%;
    margin: 10px;

}

.sec-3 ul li i {
    font-size: 35px;
    text-align: center;
    line-height: 20px;
}

.sec-3 ul li:nth-child(1):hover {
    background-color: #3b5999;

}

.sec-3 ul li:nth-child(2):hover {
    background-color: #dd4b39;

}

.sec-3 ul li:nth-child(3):hover {
    background-color: #0077B5;

}

.sec-3 ul li:nth-child(4):hover {
    background-color: #55acee;

}

.sec-3 ul li:nth-child(5):hover {
    background-color: rgb(73, 58, 58);

}

.sec-4 {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 30px;
}

.sec-4 p {
    position: relative;
}

.sec-4 p::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    position: absolute;
    right: 0;
    bottom: -10px;
    background-color: yellow;
    transition: all 0.3s;

}

.sec-4 p:hover::after {
    width: 100%;

}

@media (min-width: 620px) and (max-width: 971px) {

    .sec-1 {
        display: flex;
        justify-content: space-between;
        padding: 20px 10px;
        flex-wrap: wrap;
        margin: 10px;
        color: gray;
        line-height: 22px;

    }

    .about {
        width: 100%;
        margin-bottom: 20px;
    }


}

@media (min-width: 390px) and (max-width: 619px) {

    .sec-1 {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 20px 10px;
        flex-wrap: wrap;
        margin: 10px;
        color: gray;
        line-height: 22px;

    }

    .about {
        width: 100%;
        margin-bottom: 20px;
    }


}

@media (max-width: 389px) {

    .sec-1 {
        display: flex;
        justify-content: space-between;
        padding: 20px 10px;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 10px;
        color: gray;
        line-height: 22px;

    }

    .about {
        width: 100%;
        margin-bottom: 20px;
    }

    .sec-3 ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
    }

    .sec-3 ul li {
        display: inline-block;
        width: 40px;
        height: 40px;
        padding: 10px;
        background-color: rgb(95 192 96 / 80%);
        border-radius: 50%;
        margin: 10px;

    }

    .sec-3 ul li i {
        font-size: 20px;
        text-align: center;
        line-height: 8px;
    }


}
