* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #1d2132;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    position: fixed;
    display: flex;
}

.header > img {
    width: 100px;
    height: 70px;
}

.header > h1 {
    color: white;
    line-height: 70px;
}

.content {
    width: 100%;
    float: right;
    padding: 20px;
    transition: .7s;
}

.content img {
    width: 100%;
    max-width: 700px;
    display: block;
    margin: auto;
}

.content p {
    text-align: justify;
    color: #333333;
}

.sidebar {
    top: 70px;
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: #353b48;
    left: -100%;
    transition: .7s;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 20px;
    padding: 15px 25px;
}

.sidebar ul li a i span {
    padding: 8px;
}

.sidebar ul li a:hover {
    border-left: 5px solid white;
    transition: 0.4s;
}

.social {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    margin-top: 200px;
}

.social i {
    color: #FFF;
    font-size: 30px;
    padding: 15px;
}

.show-btn, .hide-btn {
    font-size: 35px;
    color: white;
    top: 20px;
    left: 50px;
    position: fixed;
    transition: .7s;
}

.hide-btn {
    opacity: 0;
}

#chk {
    opacity: 0;
}

#chk:checked ~ .sidebar {
    left: 0;
}

#chk:checked ~ .show-btn {
    opacity: 0;
}

#chk:checked ~ .hide-btn {
    opacity: 1;
}

#chk:checked ~ .content {
    width: 80%;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        text-align: center;
    }

    .header h1 {
        display: none;
    }
}
